.bar-chart {
  padding: 5px;
  border: #008f68 solid 5px;
  margin: #dc101a solid 5px;
}

.pie-chart {
  padding: 5px;
  border: #013729 solid 5px;
  margin: #dc101a solid 5px;
  display: flex;
}

.doughnut-chart {
  padding: 5px;
  border: #013729 solid 5px;
  margin: #dc101a solid 5px;
  display: flex;
}
